*

!CNN_NonLinearFC.py
!CNN_TwoConvLayers.py
!CNN_YoonKim.py
!data.py
!datasets/
!interactive_session.py
!interactive_session_GUI.py
!LICENSE
!Logger.py
!ModelBlueprint.py
!nvidia_docker.sh
!train_and_test.py
!transform_word2vec.c
!word2vec.py

